<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('_header')%>
    <div>
      <div>
        <h1 class="display-1">Assign Recipient and Reviewer</h1>
      </div>
      <div ">
        <p>Set Reviewers</p>
        <div>
          <form
            method="POST"
            action="/admin/setReviewers"
          >
            <div>
              <p>Recipient</p>
              <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="Recipient">
                 <option selected disabled> Select Recipient</option>
                <% for(let i=0;i < employeeList.length;i++){ %>
                <option value="<%=employeeList[i].id%>">
                  <%= employeeList[i].name %>
                </option>
                <%}%>
              </select>
            </div>
            <div >
              <p>Reviewer</p>
              <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"name="Reviewer">
                 <option selected disabled>Select Reviewer</option>
                
                <% for(let i=0;i < employeeList.length;i++){ %>
                <option value="<%=employeeList[i].id%>">
                  <%=employeeList[i].name %>
                </option>
                <%}%>
              </select>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto form_button">
            <input class="btn btn-dark" type="submit" value="Submit" />
          </div>
          </form>
        </div>
      </div>
      <div >
        <p>Assign admin to employees</p>
        <form method="POST" action="/admin/newAdmin">
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="newAdmin">
            <option selected disabled>Click here...</option>
            <% for(let i=0;i < employeeList.length;i++){ %>

            <option value="<%=employeeList[i].id%>">
              <%=employeeList[i].name %>
            </option>
            <%}%>
          </select>
          <div class="d-grid gap-2 col-6 mx-auto form_button">
            <input class="btn btn-dark" type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
