<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../assets/css/employees.css" />
  </head>
  <body>
    <%- include('_header')%>
    <div class="card_container">
      <% for(let i=0;i < employees.length;i++){ %>

      <div class="card_body">
        <h5 class="card_title">Name : <%=employees[i].name %></h5>
        <p>Email : <%=employees[i].email %></p>
        <p>Password : <%=employees[i].password %></p>
        <a
          href="/admin/delete-employee/<%=employees[i]._id%>"
          class="btn btn-danger"
          type="DEL"
          >Delete</a
        >
      </div>

      <%}%>
    </div>
  </body>
</html>
