<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Review System</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('_header') %>
    <main>
      <div id="left-section">
        <div class="Section-heading">
          <p>To Review</p>
        </div>

        <% for(r of recipients){ %>
        <div class="available-recipients">
          <form action="/reviews/newReview/<%=r.id%>" method="GET">
            <p>To: <%=r.name%></p>
            <div class="new-review-block">
              <textarea name="newReview" rows="5"></textarea>
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
        <%}%>
      </div>
      <div id="right-section">
        <div class="Section-heading">
          <p>My Reviews</p>
        </div>
        <% for (r of reviews){%>
        <div class="my-reviews">
          <p>From: <%=r.name%></p>
          <div>
            <p><%=r.review%></p>
          </div>
          <p>Updated At: <%=r.updated%></p>
        </div>
        <%}%>
      </div>
    </main>
  </body>
</html>
